body {
    background-image: url("https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.us-east-1.amazonaws.com/public/7VLRY5BNMII63PGGBB2LE2XCSY_size-normalized.jpg&w=1200");
    object-fit:fill;
    background-repeat: no-repeat;
    background-size:cover;
}
.title{
    background-color: rgba(56, 17, 17, 50%);
    color: whitesmoke;
    width: 500px;
    height: 100px;
    border-radius: 5px;
    text-align: center;
    margin-left: 495px;
    margin-right: 495px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    border: 5px solid rgba(56, 17, 17, 40%);
    margin-top: 25px;
    padding-top: -20px;
    padding-bottom: 20px;
}
.description{
    text-align: center;
    background-color: rgba(56, 17, 17, 50%);
    color: whitesmoke;
    width: 500px;
    margin-left: 495px;
    margin-right: 495px;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 5px solid rgba(56, 17, 17, 40%);
}
.menu {
    background-color: rgba(56, 17, 17, 50%);
    text-align: center;
    width: 500px;
    margin-left: 495px;
    margin-right: 495px;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 5px solid rgba(56, 17, 17, 40%);
    padding: 0;
}
h3{
    font-size: 35px;
    text-align: center;
}
ul {
    list-style-type: none;
}
li {
    text-align: left;
    padding-left: 50px;
}
.base {
    text-align: center;
}
.label {
    background-color: rgba(56, 17, 17, 50%);
    text-align: center;
    width: 500px;
    margin-left: 495px;
    margin-right: 495px;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 5px solid rgba(56, 17, 17, 40%);
    margin-top: 5px;
}

